<h1>  Who is working now</h1>
<div class="landing_render">
<%= render 'shared/map' %>
<%if current_user.has_role? :tender %>
    <h1>Your Upcomming Schedule</h1>
    <div class="calendar"></div>
    <% end %>
</div>